<h1 mat-dialog-title>Join {{data.groupName}}</h1>
<div mat-dialog-content>
    <p>Enter Password</p>
    <mat-form-field>
        <input matInput type="password" [(ngModel)]="data.password">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.password" cdkFocusInitial>Join</button>
</div>