<app-event-main>
	<mat-card class="updateCard">
		<div *ngIf="role === 'admin' || role === 'event manager'">
			<mat-card-header>
				<mat-card-title>Event Management</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<form
					class="registerForm"
					[formGroup]="updateEvent"
					(ngSubmit)="(!updateEvent.valid)"
					novalidate
					(keydown.enter)="update()">
					<mat-form-field class="full-width">
						<input
							matInput
							placeholder="Event"
							aria-label="Leader"
							[matAutocomplete]="auto"
							[formControl]="eventCtrl"
							required
						/>
						<mat-autocomplete #auto="matAutocomplete">
							<mat-option
								*ngFor="let event of filteredEvents | async"
								[value]="event.name"
								(onSelectionChange)="setData(event)"
							>
								<span>{{ event.name }}</span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<!-- Name -->
					<mat-form-field class="full-width">
						<mat-label>Name</mat-label>
						<input
							formControlName="name"
							matInput
							type="text"
							placeholder="Name"
							name="name"
							(change)="changedValue.name = true"
							required
						/>
					</mat-form-field>
					<!-- Description -->
					<mat-form-field class="full-width">
						<mat-label>Description</mat-label>
						<textarea
								formControlName="description"
								placeholder="Description"
								name="description"
								matInput
								cdkTextareaAutosize
								#autosize="cdkTextareaAutosize"
								cdkAutosizeMinRows="1"
								cdkAutosizeMaxRows="5"
								(change)="changedValue.description = true"
								required
						></textarea>
					</mat-form-field>
					<!-- Prerequisites -->
					<mat-form-field class="full-width">
						<mat-label>Prerequisites</mat-label>
						<textarea
								formControlName="prerequisites"
								placeholder="Prerequisites"
								name="prerequisites"
								matInput
								cdkTextareaAutosize
								#autosize="cdkTextareaAutosize"
								cdkAutosizeMinRows="1"
								cdkAutosizeMaxRows="5"
								required
								(change)="changedValue.prerequisites = true"
						></textarea>
					</mat-form-field>
					<!-- Address -->
					<mat-form-field class="full-width">
						<mat-label>Address</mat-label>
						<input
							formControlName="address"
							(change)="changedValue.address = true"
							matInput
							placeholder="Address"
							name="address"
							required
						/>
					</mat-form-field>
					<!-- IMAGE URL -->
					<mat-form-field class="full-width">
						<mat-label>Image URL</mat-label>
						<input
							formControlName="imageURL"
							(change)="changedValue.imageURL = true"
							matInput
							placeholder="Image URL"
							name="imageURL"
							required
						/>
					</mat-form-field>
					<!-- Event Start Date -->
					<mat-form-field class="full-width">
						<input
							formControlName="startDate"
							matInput
							(click)="eventStartDate.open()"
							[matDatepicker]="eventStartDate"
							placeholder="Event Start Date"
							required
							(dateChange)="changedValue.startDate = true"
						/>
						<mat-datepicker-toggle matSuffix [for]="eventStartDate"></mat-datepicker-toggle>
						<mat-datepicker #eventStartDate disabled="false"></mat-datepicker>
					</mat-form-field>

					<!-- Event start time -->
					<mat-form-field class="full-width">
						<mat-label>Start Time</mat-label>
						<input
							formControlName="startTime"
							type="text"
							matInput
							placeholder="Start Event Time"
							name="startEventTime"
							[ngxTimepicker]="startEventTime"
							[format]="24"
							readonly
							required
						/>
						<ngx-material-timepicker
							(timeSet)="changedValue.startTime = true"
							#startEventTime
						></ngx-material-timepicker>
					</mat-form-field>

					<!-- Event end Date -->
					<mat-form-field class="full-width">
						<input
							formControlName="endDate"
							matInput
							(click)="eventEndDate.open()"
							[matDatepicker]="eventEndDate"
							placeholder="Event End Date"
							required
							(dateChange)="changedValue.endDate = true"
						/>
						<mat-datepicker-toggle matSuffix [for]="eventEndDate"></mat-datepicker-toggle>
						<mat-datepicker #eventEndDate disabled="false"></mat-datepicker>
					</mat-form-field>

					<!-- Event end Time -->
					<mat-form-field class="full-width" style="padding: 0">
						<div class="test">
							<input
								formControlName="endTime"
								type="text"
								matInput
								placeholder="End Event Time"
								name="endEventTime"
								[ngxTimepicker]="endEventTime"
								[format]="24"
								readonly
								required
							/>
							<ngx-material-timepicker (timeSet)="changedValue.endTime = true" #endEventTime></ngx-material-timepicker>
						</div>
					</mat-form-field>
				</form>
				<span class="errorMessage">{{ errorMessage }}</span>
				<span class="successMessage">{{ successMessage }}</span>
				<mat-card-actions>
					<!-- UPDATE BUTTON -->
					<button mat-raised-button color="primary" (click)="update()" [disabled]="!updateEvent.valid || !changesMade()">Update</button>
				</mat-card-actions>
			</mat-card-content>
		</div>
	</mat-card>
</app-event-main>
