.test {
	display: flex;
}
::ng-deep .lol {
	.mat-form-field-wrapper {
		.mat-form-field-flex {
			.mat-form-field-infix {
				padding: 0 !important;
			}
		}
	}
}
.updateCard {
	position: relative;
	margin: 30px 0;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 100px;
}

::ng-deep .timepicker {
	.timepicker__header {
		background-color: #673ab7 !important;
	}

	.clock-face__clock-hand {
		background-color: #673ab7 !important;

		&::after {
			background-color: #673ab7 !important;
		}

		&::before {
			border-color: #673ab7 !important;
		}
	}

	.clock-face__number {
		> span.active {
			background-color: #673ab7 !important;
		}
	}

	button:not(.timepicker-dial__item) {
		color: #673ab7 !important;
	}
}

.mat-card-header {
	justify-content: center;
}

.full-width {
	width: 100%;
}

.example-radio-button {
	margin: 10px;
}

@media screen and (max-height: 740px), (max-width: 700px) {
	.updateCard {
		top: 0;
		left: 0;
		transform: none;
		width: 80%;
		height: calc(100vh - 120px);
		padding: 0;
		margin: 50px 10% 0 10% !important;
		border: none;
		box-shadow: none;
		background-color: transparent;
		justify-content: start;
		.roleButtons {
			display: block;
		}
	}
	.mat-card-actions {
		margin-bottom: 50px !important;
	}
}

@media screen and (max-width: 450px) {
	.updateCard {
		.example-radio-button {
			display: block;
		}
	}
}
