<app-main>
    <div class="eventNav">
        <span><a [ngClass]="createEvent" routerLink="/createEvent">New Event</a></span>
        <span><a [ngClass]="manageEvent" routerLink="/manageEvent">Manage Event</a></span>
    </div>

    <ng-content></ng-content>
</app-main>
