<app-main>
    <mat-card class="loginCard">
        <mat-card-header class="loginHeader">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="loginContent">
            <form class="loginForm" [formGroup]="loginCred" (keydown.enter)="login()" >
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email" type="email" name="email" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput type="password" autocomplete="on" placeholder="Password" name="password" required>
                </mat-form-field>
            </form>
            <span class="errorMessage">{{errorMessage}}</span>
            <mat-card-actions>
                <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</app-main>
