<app-group-main>
	<div *ngIf="done === false" class="loadingSpinner">
		<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
	</div>
	<div *ngIf="done === true">
		<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
			<ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
				<th mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> {{ toTitle(column) }}</th>
				<td mat-cell *matCellDef="let element">
					{{ checkObject(element[column]) }}
					<i class="material-icons {{ showIcon(element[column]) }}">{{ selectIcon(element[column]) }}</i>
				</td>
			</ng-container>

			<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
			<ng-container matColumnDef="expandedDetail">
				<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
					<div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
						<div class="example-element-description">
							<p>Leader: {{ element.Leader }}</p>
							<p>Members: {{ element.Members }}</p>
							<p *ngIf="element.URL != ''">Download Project: <a href="{{ element.URL }}" target="_blank">Here</a></p>
							<p>Description: {{ element.Description }}</p>
						</div>
						<div class="example-element-description">
							<button
								*ngIf="currentUserId != element.LeaderId"
								mat-raised-button
								color="primary"
								(click)="leaveGroup(element.GroupId)"
								>Leave</button
							>
							<button
								*ngIf="currentUserId === element.LeaderId"
								mat-raised-button
								color="primary"
								routerLink="/manageGroup/{{ element.GroupId }}"
								>Manage</button
							>
						</div>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
			<tr
				mat-row
				*matRowDef="let element; columns: columnsToDisplay"
				class="example-element-row"
				[class.example-expanded-row]="expandedElement === element"
				(click)="expandedElement = expandedElement === element ? null : element"
			>
			</tr>
			<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
		</table>
	</div>
</app-group-main>
