<app-main>
	<div class="myContainer" *ngIf="noEvent != true">
		<!--LEFT CARD-->
		<mat-card class="my-card" *ngFor="let event of events">
			<mat-card-header>
				<mat-card-title>{{ event.name }}</mat-card-title>
			</mat-card-header>
			<div class="img" [ngStyle]="{'background-image': 'url(' + event.imageURL + ')'}">
			</div>
			<mat-card-actions>
				<button mat-button routerLink="/eventDetail/{{ event.id }}">Read more</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<mat-card class="NoEventCard" *ngIf="noEvent === true">
		<mat-card-header>
			<mat-card-title>There are no Events at the moment...</mat-card-title>
		</mat-card-header>
	</mat-card>
</app-main>
