.myContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 10px;
	button{
		background-color: rgba(255,255,255,0.2);
		margin-left: 8px;
	}
}

.NoEventCard {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-65%);
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 100px;
}

.my-card {
	width: 30%;
	background-color: #673AB7;    //deep purple
	//background-color: #9575CD;  //lighter version
	color: white;
	border-radius: unset;
	box-shadow: none;
	margin: 5vh 0;

	.mat-card-header-text{
		margin: 0 !important;
		color: red !important;
	}
}

.img {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&:after {
		content: "";
		display: block;
		padding-bottom: 70%;
	}
}

@media screen and (max-width: 740px) {
	.my-card {
		width: 70% !important;
		margin: 0 auto 5vh;
	}

	.myContainer {
		display: block;
	}
}
