<mat-card>
    <mat-card-header>
        <h2>Contact us</h2>
    </mat-card-header>
    <mat-card-content>
        <br>
        <h3>Contact Information</h3>
        <br>
        <p><i class="material-icons">mail</i> tugasquad@ggj.com</p>
        <p><i class="material-icons">phone</i> 12 34 56</p>
        <br>
        <br>
        <h3>Le montant pour l'inscription est à virer sur le compte:</h3>
        <br>
        <p>
            <span class="contactPrefix">Bénéficiaire:</span> Trésorerie de l'Etat SEGS, Lycée technique des Arts et Métiers<br>

            <span class="contactPrefix">Numéro de compte:</span> IBAN LU94 1111 2338 5787 0000<br>

            <span class="contactPrefix">Code Banque (BIC):</span> CCPLLULL<br>

            <span class="contactPrefix">Communication:</span> Votre Nom, prénom / Nom d'event
        </p>
    </mat-card-content>
</mat-card>
