.mat-card-header-text {
  display: none;
}

mat-card-header {
  justify-content: center;
}
mat-card-header h1 {
  text-align: center;
}

.material-icons {
  color: #673ab7;
  vertical-align: middle;
}

.contactPrefix {
  color: #673ab7;
  font-weight: bolder;
}

mat-card {
  max-width: 500px;
  margin: 100px auto !important;
}

@media screen and (min-width: 739px) {
  mat-card {
    padding: 100px !important;
  }
}

mat-card-content {
  padding-top: 12px;
}
