.eventContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  button{
    background-color: rgba(255,255,255,0.2);
    margin-left: 8px;
  }
  .mat-card-header-text{
    margin: 0;
  }
}

.img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
    content: "";
    display: block;
    padding-bottom: 70%;
  }
}

.my-card{
  width: 30%;
  background-color: #673AB7;    //deep purple
  //background-color: #9575CD;  //lighter version
  color: white;
  border-radius: unset;
  box-shadow: none;
}

#my-left-card{
  margin-left: 10%;
}

#my-right-card{
  margin-right: 10%;
}

@media screen and (max-width: 1000px) {
  .my-card {
    width: 40%;
  }
  #my-left-card{
    margin-left: 3%;
  }

  #my-right-card{
    margin-right: 3%;
  }
}

@media screen and (max-width: 740px) {
  .my-card {
    width: 70%;
  }

  .eventContainer {
    flex-wrap: wrap;

    mat-card:first-child {
      margin-bottom: 50px;
    }
  }
}
