<app-main>
	<div class="eventContainer" *ngIf="events.length">
		<!--LEFT CARD-->
		<mat-card class="my-card">
			<mat-card-header>
				<mat-card-title>{{ events[0].name }}</mat-card-title>
			</mat-card-header>
			<div class="img" [ngStyle]="{'background-image': 'url(' + events[0].imageURL + ')'}">
			</div>
			<mat-card-actions>
				<button mat-button routerLink="/eventDetail/{{events[0].id}}">Read more</button>
			</mat-card-actions>
		</mat-card>
		<!--RIGHT CARD-->
		<mat-card class="my-card" *ngIf="events.length === 2">
			<mat-card-header>
				<mat-card-title>{{ events[1].name }}</mat-card-title>
			</mat-card-header>
			<div class="img" [ngStyle]="{'background-image': 'url(' + events[1].imageURL + ')'}">
			</div>
			<mat-card-actions>
				<button mat-button routerLink="/eventDetail/{{events[1].id}}">Read more</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<app-contact></app-contact>
</app-main>
