<app-main>
	<mat-card class="updateCard">
			<mat-card-header>
				<mat-card-title>User's Payment</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<form
					class="registerForm"
					[formGroup]="updatePayement"
					(ngSubmit)="(!updatePayement.valid)"
					novalidate
					(keydown.enter)="update()"
				>
					<mat-form-field class="full-width">
						<input matInput placeholder="User" aria-label="Leader" [matAutocomplete]="auto" [formControl]="userCtrl" />
						<mat-autocomplete #auto="matAutocomplete">
							<mat-option
								*ngFor="let user of filteredUsers | async"
								[value]="user.firstName + ' ' + user.lastName"
								(onSelectionChange)="setData(user)"
							>
								<span>{{ user.firstName }} {{ user.lastName }}</span>
								<small>{{ user.emailAddress }}</small>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<mat-checkbox class="example-margin" formControlName="paid" (change)="this.changedValue.paid = true">
						Paid
					</mat-checkbox>
				</form>
				<span class="errorMessage">{{ errorMessage }}</span>
				<span class="successMessage">{{ successMessage }}</span>
				<mat-card-actions>
					<!-- UPDATE BUTTON -->
					<button mat-raised-button color="primary" (click)="update()" [disabled]="!changesMade()">Update</button>
				</mat-card-actions>
			</mat-card-content>
	</mat-card>
</app-main>
