.sidenav-container {
  height: 100%;
}

.backgroundTransparent {
  @media screen and (min-width: 701px) and (min-height: 741px) {
    background-image: url("../../assets/background.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

mat-toolbar {
  font-weight: initial;
  img {
    height: 80%;
  }
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #673ab7;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

.material-icons {
  vertical-align: sub;
  margin-right: 5px;
}

.dropDownItem {
  .material-icons {
    vertical-align: middle !important;
  }
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.dropDownNavItem {
  height: 100%;
}


mat-toolbar {
  padding: 0 10%;
  a {
    font-weight: normal;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;

    &:hover {
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 3px;
        background-color: #E9E52F;
      }
    }
  }
}

@media (max-width: 800px) {
  mat-toolbar {
    padding: 0 2%;
  }
}

@media (min-width: 601px) {
  .burgerButton, mat-sidenav {
    display: none !important;
  }
}

@media (max-width: 600px) {
  mat-toolbar {
    a {
      display: none;
    }
    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
