i {
	color: #673ab7;
}

td,
th {
	color: #673ab7;
}

table {
	width: 70%;
	margin: 50px auto !important;
}

.hide {
	display: none;
}

.customWidthClass {
	flex: 0 0 100% !important;
	white-space: unset !important;
}

.material-icons {
	vertical-align: middle;
}

td {
	width: 20%;
	min-width: 100px;
	overflow-wrap: break-word;
	word-wrap: break-word;

	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #d7d7d7;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
}

.example-element-diagram {
	min-width: 80px;
	border: 2px solid black;
	padding: 8px;
	font-weight: lighter;
	margin: 8px 0;
	height: 104px;
}

.example-element-symbol {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}

.example-element-description {
	padding: 16px;
}

.example-element-description-attribution {
	opacity: 0.5;
}

.cdk-column-Status,
.mat-column-Status {
	min-width: 80px;
}

@media screen and (max-width: 1000px) {
	table {
		width: 80%;
	}
}
@media screen and (max-width: 700px) {
	.cdk-column-NumberOfMembers,
	.mat-column-NumberOfMembers {
		display: none;
	}
}

@media screen and (max-height: 740px), (max-width: 700px) {
	table {
		width: 100% !important;
		margin: 0 !important;
		box-shadow: none !important;
	}
}
