<app-group-main>
	<div *ngIf="done === false" class="loadingSpinner">
		<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
	</div>
	<mat-card class="groupCard" *ngIf="done === true">
		<mat-card-header>
			<mat-card-title>Manage Group</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="leftContainer">
				<form
					class="groupForm"
					[formGroup]="updateGroup"
					(ngSubmit)="(!updateGroup.valid)"
					novalidate
					(keydown.enter)="update()"
				>
					<!-- NAME -->
					<mat-form-field class="full-width">
						<mat-label>Name</mat-label>
						<input
							formControlName="name"
							matInput
							type="text"
							placeholder="Name"
							name="name"
							required
							(change)="changedValue.name = true"
						/>
						<mat-error *ngIf="updateGroup.hasError('required', 'name')">Please name your group.</mat-error>
					</mat-form-field>
					<!-- PASSWORD -->
					<mat-form-field class="full-width">
						<mat-label>New Password</mat-label>
						<input
							formControlName="password"
							type="password"
							matInput
							placeholder="New Password"
							name="Password"
							(change)="changedValue.password = true"
						/>
					</mat-form-field>
					<!-- DESCRIPTION -->
					<mat-form-field class="full-width">
						<mat-label>Description</mat-label>
						<textarea
							formControlName="description"
							placeholder="Description"
							name="description"
							matInput
							cdkTextareaAutosize
							#autosize="cdkTextareaAutosize"
							cdkAutosizeMinRows="1"
							cdkAutosizeMaxRows="5"
							(change)="changedValue.description = true"
						></textarea>
					</mat-form-field>
					<!-- PASSWORD -->
					<mat-form-field class="full-width">
						<mat-label>Project URL</mat-label>
						<input
							formControlName="url"
							type="text"
							matInput
							placeholder="Project URL"
							name="url"
							(change)="changedValue.url = true"
						/>
					</mat-form-field>

					<label>Join Status: *</label>
					<mat-radio-group
						aria-labelledby="example-radio-group-label"
						class="example-radio-group"
						name="status"
						formControlName="status"
						(change)="changedValue.status = true"
						required
					>
						<mat-radio-button
							class="example-radio-button roleButtons"
							*ngFor="let option of optionsStatus"
							[value]="option"
							[checked]="option === this.groupStatus"
							>{{ option }}</mat-radio-button
						> </mat-radio-group
					><br />

					<mat-form-field class="full-width">
						<mat-label>Event</mat-label>
						<mat-select formControlName="event" (selectionChange)="changedValue.event = true" required>
							<mat-option>--</mat-option>
							<mat-option *ngFor="let event of events" [value]="event.id">
								{{ event.name }}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="updateGroup.hasError('required', 'event')">Please choose an event</mat-error>
					</mat-form-field>
				</form>
				<span class="errorMessage">{{ errorMessage }}</span>
				<span class="successMessage">{{ successMessage }}</span>
				<mat-card-actions class="desktopButton">
					<!-- REGISTER BUTTON -->
					<button mat-raised-button color="primary" (click)="update()" [disabled]="!updateGroup.valid">Update</button>
				</mat-card-actions>
			</div>
			<div class="rightContainer">
				<h3>Leader:</h3>
				<span>{{ leader }}</span
				><i class="material-icons"></i><br />
				<br />
				<h3>Members:</h3>
				<div>
					<div class="groupMember" *ngFor="let user of usersInGroup">
						<span>{{ user.name }}</span> <i class="material-icons" (click)="delete(user.id)">close</i>
					</div>
				</div>
				<mat-card-actions class="mobileButton">
					<!-- REGISTER BUTTON -->
					<button mat-raised-button color="primary" (click)="update()" [disabled]="!updateGroup.valid || !changesMade()">Update</button>
				</mat-card-actions>
			</div>
		</mat-card-content>
	</mat-card>
</app-group-main>
