.groupCard {
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-70%);
	padding: 40px 100px;

	.example-radio-button {
		margin: 10px;
	}

	.mat-card-header {
		justify-content: center;
	}
	.mat-card-content {
		display: flex;
	}
	.leftContainer {
		width: calc(100% - 250px);
		padding-right: 100px;
	}
	.rightContainer {
		width: 250px;
		line-height: 1.8;
		.groupMember {
			width: 250px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			i:hover {
				color: #673ab7;
				cursor: pointer;
			}
		}
	}
}

.full-width {
	width: 100%;
}

.mobileButton {
	display: none;
}

@media screen and (max-width: 970px) {
	.groupCard {
		.mat-card-content {
			flex-wrap: wrap;
		}
		.leftContainer {
			width: 100%;
			padding-right: 0;
		}
	}
	.mobileButton {
		margin-top: 10px;
		display: block !important;
	}
	.desktopButton {
		display: none;
	}
}

@media screen and (max-height: 740px), (max-width: 700px) {
	.groupCard {
		top: 0;
		left: 0;
		transform: none;
		width: 80%;
		height: calc(100vh - 120px);
		padding: 0;
		margin: 50px 10% 0 10% !important;

		.rightContainer {
			padding-bottom: 100px !important;
		}

		border: none;
		box-shadow: none;
		background-color: transparent;
		justify-content: start;
	}
}
