<app-main>
	<mat-card class="eventCard" *ngIf="event">
		<mat-card-header>
			<mat-card-title>{{ event.name }}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<img class="myIMG" src="{{ event.imageURL }}" />
			<div class="eventContent">
				<div>
					<i style="align-self: center" class="material-icons">date_range</i>
					<div style="margin-top: 4px">
						<p >Start: {{ event.startDate }}</p>
						<p >End: {{ event.endDate }}</p>
					</div>
				</div>
				<div>
					<i class="material-icons">description</i>
					<div>
						<p style="margin-top: 4px">{{ event.description }}</p>
					</div>
				</div>
				<div>
					<i class="material-icons">portrait</i>
					<p style="margin-left: 10px; margin-top: 4px">{{ event.prerequisites }}</p>
				</div>
				<div>
					<i class="material-icons">location_on</i>
					<p style="margin-left: 10px; margin-top: 4px">{{ event.address }}</p>
				</div>
			</div>
			<mat-card-actions *ngIf="token.role === 'admin' || token.role === 'event manager'">
				<button mat-raised-button color="primary" [disabled]="!isEmpty" (click)="exportExcel()">Export Excel</button>
			</mat-card-actions>
		</mat-card-content>
	</mat-card>
	<mat-card class="eventCard" *ngIf="noEvent === true">
		<mat-card-header>
			<mat-card-title>Event doesn't exist!</mat-card-title>
		</mat-card-header>
	</mat-card>

	<!-- hidden excel table -->
	<table id="event-table">
		<tr>
			<th>Event Name</th>
			<th>Event Start Date</th>
			<th>Event End Date</th>
		</tr>
		<tr *ngIf="eventExcel">
			<td>{{ eventExcel.name }}</td>
			<td>{{ eventExcel.startDate }}</td>
			<td>{{ eventExcel.endDate }}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>

	<div class="groups" *ngFor="let group of groupsExcel">
		<table id="group-table{{ group.id }}">
			<tr>
				<th>Group Name</th>
				<th>Group Leader</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<td>{{ group.name }}</td>
				<td>{{ group.leader }}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>User Name</th>
				<th>Hardware</th>
				<th>Allergies</th>
				<th>Skill Set</th>
				<th>Diet</th>
				<th>Paid</th>
			</tr>
			<tr *ngFor="let user of getFilteredUsers(group.id)">
				<td>{{ user.name }}</td>
				<td>{{ user.hardware }}</td>
				<td>{{ user.allergies }}</td>
				<td>{{ user.skillSet }}</td>
				<td>{{ user.diet }}</td>
				<td>{{ user.paid }}</td>
			</tr>
		</table>
	</div>
</app-main>
