:root {
	--main-bg-color: #673ab7;
}
.eventCard {
	position: relative;
	margin-top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 100px;
}

.eventContent {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	div{
		display: flex;
		flex-direction: row;
		margin-bottom: 7px;

		div:first-child{
			margin-left: 10px;
			display: flex;
			flex-direction: column;
		}
		div:nth-child(2){
			margin-left: 10px;
			display: flex;
			flex-direction: column;
			//align-items: center;
			padding: 0;
		}
	}
}

.myIMG {
	width: 100%;
}

.full-width {
	width: 100%;
}
div.groups, table#event-table {
	display: none;
}

@media screen and (max-width: 900px) {
	.eventCard {
		width: 60%;
	}
}

@media screen and (max-width: 700px) {
	.eventCard {
		top: 0;
		left: 0;
		transform: none;
		width: 80%;
		height: calc(100vh - 120px);
		padding: 0;
		margin: 50px 10% 0 10% !important;
		border: none;
		box-shadow: none;
		background-color: transparent;
		justify-content: start;
	}
	.mat-card-actions {
		margin-bottom: 50px !important;
	}
}
