<app-main>
	<div [ngClass]="groupNav">
		<span><a [ngClass]="myGroupClass" routerLink="/groups">My Groups</a></span>
		<span><a [ngClass]="joinGroupClass" routerLink="/joinGroup">Join A Group</a></span>
		<span><a [ngClass]="newGroupClass" routerLink="/newGroup">New Groups</a></span>
	</div>
	<div [ngClass]="groupNavAdmin">
		<span><a [ngClass]="allGroupClass" routerLink="/allGroups">All Groups</a></span>
		<span><a [ngClass]="newGroupClass" routerLink="/newGroup">New Groups</a></span>
	</div>
	<ng-content></ng-content>
</app-main>
