.groupNav {
	height: 50px;
	width: 100%;
	background-image: linear-gradient(to bottom, #a0a0a0, #d6d6d6);
	background-color: #d6d6d6;
	display: flex;
	justify-content: center;
	align-items: center;

	a,
	span {
		color: white;
		text-decoration: none;
		font-weight: bold;
	}
	a:hover {
		color: #673ab7;
		text-decoration: none;
	}

	a.active {
		color: #673ab7;
	}

	span {
		margin: 0 20px !important;
	}
}

.groupNavHide {
	display: none;
}
