:root {
	--main-bg-color: #673ab7;
}
.createEventCard {
	position: relative;
	left: 50%;
	margin: 30px 0;
	transform: translateX(-50%);
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 100px;
}

.full-width {
	width: 100%;
}

::ng-deep .timepicker {
	.timepicker__header {
		background-color: #673ab7 !important;
	}

	.clock-face__clock-hand {
		background-color: #673ab7 !important;

		&::after {
			background-color: #673ab7 !important;
		}

		&::before {
			border-color: #673ab7 !important;
		}
	}

	.clock-face__number {
		> span.active {
			background-color: #673ab7 !important;
		}
	}

	button:not(.timepicker-dial__item) {
		color: #673ab7 !important;
	}
}

@media screen and (max-height: 740px), (max-width: 700px) {
	.createEventCard {
		top: 0;
		left: 0;
		transform: none;
		width: 80%;
		height: calc(100vh - 120px);
		padding: 0;
		margin: 50px 10% 0 10% !important;
		border: none;
		box-shadow: none;
		background-color: transparent;
		justify-content: start;
	}
	.mat-card-actions {
		margin-bottom: 50px !important;
	}
}
