<app-event-main>
	<mat-card class="createEventCard">
		<mat-card-header>
			<mat-card-title>Create Event</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form class="registerForm" [formGroup]="createEvent" novalidate (keydown.enter)="create()">
				<!-- NAME -->
				<mat-form-field class="full-width">
					<mat-label>Name</mat-label>
					<input formControlName="name" matInput type="text" placeholder="Name" name="name" required />
					<mat-error *ngIf="createEvent.hasError('required', 'name')">Please name your Event.</mat-error>
				</mat-form-field>
				<!-- Address -->
				<mat-form-field class="full-width">
					<mat-label>Address</mat-label>
					<input formControlName="address" type="text" matInput placeholder="Address" name="address" required />
				</mat-form-field>
				<!--IMAGE URL -->
				<mat-form-field class="full-width">
					<mat-label>Image URL</mat-label>
					<input formControlName="url" type="text" matInput placeholder="Image URL" name="url" required />
				</mat-form-field>
				<!-- DESCRIPTION -->
				<mat-form-field class="full-width">
					<mat-label>Description</mat-label>
					<textarea
						formControlName="description"
						placeholder="Description"
						name="description"
						matInput
						cdkTextareaAutosize
						#autosize="cdkTextareaAutosize"
						cdkAutosizeMinRows="1"
						cdkAutosizeMaxRows="5"
						required
					></textarea>
				</mat-form-field>
				<!-- PREREQUISITES -->
				<mat-form-field class="full-width">
					<mat-label>Prerequisites</mat-label>
					<textarea
						formControlName="prerequisites"
						placeholder="Prerequisites"
						name="prerequisites"
						matInput
						cdkTextareaAutosize
						#autosize="cdkTextareaAutosize"
						cdkAutosizeMinRows="1"
						cdkAutosizeMaxRows="5"
						required
					></textarea>
				</mat-form-field>
				<mat-form-field class="full-width">
					<input
						formControlName="startDate"
						matInput
						(click)="eventStartDate.open()"
						[matDatepicker]="eventStartDate"
						placeholder="Event Start Date"
						required
					/>
					<mat-datepicker-toggle matSuffix [for]="eventStartDate"></mat-datepicker-toggle>
					<mat-datepicker #eventStartDate disabled="false"></mat-datepicker>
				</mat-form-field>
				<mat-form-field class="full-width">
					<mat-label>Start Time</mat-label>
					<input
						formControlName="startTime"
						type="text"
						matInput
						placeholder="Start Event Time"
						name="startEventTime"
						[ngxTimepicker]="startEventTime"
						[format]="24"
						readonly
						required
					/>
					<ngx-material-timepicker #startEventTime></ngx-material-timepicker>
				</mat-form-field>
				<mat-form-field class="full-width">
					<input
						formControlName="endDate"
						matInput
						(click)="eventEndDate.open()"
						[matDatepicker]="eventEndDate"
						placeholder="Event End Date"
						required
					/>
					<mat-datepicker-toggle matSuffix [for]="eventEndDate"></mat-datepicker-toggle>
					<mat-datepicker #eventEndDate disabled="false"></mat-datepicker>
				</mat-form-field>
				<mat-form-field class="full-width">
					<mat-label>End Time</mat-label>
					<input
						formControlName="endTime"
						type="text"
						matInput
						placeholder="End Event Time"
						name="endEventTime"
						[ngxTimepicker]="endEventTime"
						[format]="24"
						readonly
						required
					/>
					<ngx-material-timepicker #endEventTime></ngx-material-timepicker>
				</mat-form-field>
			</form>
			<span class="errorMessage">{{ errorMessage }}</span>
			<span class="successMessage">{{ successMessage }}</span>
			<mat-card-actions>
				<!-- REGISTER BUTTON -->
				<button mat-raised-button color="primary" (click)="create()" [disabled]="!createEvent.valid">Create</button>
			</mat-card-actions>
		</mat-card-content>
	</mat-card>
</app-event-main>
