<app-main>
	<div *ngIf="done === false" class="loadingSpinner">
		<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
	</div>
	<mat-card class="updateCard">
		<div *ngIf="done === true">
			<mat-card-header>
				<mat-card-title>Update Profile</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<form
					class="registerForm"
					[formGroup]="updateProfile"
					(ngSubmit)="(!updateProfile.valid)"
					novalidate
					(keydown.enter)="update()"
				>
					<!-- PASSWORD -->
					<mat-form-field class="full-width">
						<mat-label>New Password</mat-label>
						<input formControlName="password" matInput type="password" placeholder="New Password" name="password" />
					</mat-form-field>
					<!-- Confirm New Password -->
					<mat-form-field class="full-width">
						<mat-label>Confirm Password</mat-label>
						<input
							formControlName="confirmPassword"
							type="password"
							matInput
							placeholder="Confirm Password"
							name="confirmPassword"
						/>
					</mat-form-field>
					<!-- HARDWARE -->
					<mat-form-field class="full-width">
						<mat-label>Hardware</mat-label>
						<input
							formControlName="hardware"
							(change)="changedValue.hardware = true"
							matInput
							placeholder="Hardware"
							name="hware"
							required
						/>
					</mat-form-field>
					<!-- ALLERGIES -->
					<mat-form-field class="full-width">
						<mat-label>Allergies</mat-label>
						<input
							formControlName="allergies"
							(change)="changedValue.allergies = true"
							[value]="userData?.allergies"
							matInput
							placeholder="Allergies"
							name="allergies"
						/>
					</mat-form-field>
					<!-- SKILLSET -->
					<mat-form-field class="full-width">
						<mat-label>Skillset</mat-label>
						<input
							formControlName="skillSet"
							(change)="changedValue.skillSet = true"
							[value]="userData?.skillSet"
							matInput
							placeholder="Skillset: ex.:Programmer"
							name="skillset"
						/>
					</mat-form-field>
					<label>Your diet: *</label>
					<mat-radio-group
						aria-labelledby="example-radio-group-label"
						class="example-radio-group"
						name="diet"
						formControlName="diet"
						(change)="changedValue.diet = true"
						required
					>
						<mat-radio-button
							class="example-radio-button"
							*ngFor="let option of optionsEat"
							[value]="option"
							[checked]="option === userData?.diet"
						>
							{{ option }}
						</mat-radio-button>
					</mat-radio-group>
				</form>
				<span class="errorMessage">{{ errorMessage }}</span>
				<span class="successMessage">{{ successMessage }}</span>
				<span
					*ngIf="
						!updateProfile.controls['password'].hasError('minlength') &&
						updateProfile.controls['confirmPassword'].hasError('NoPassswordMatch')
					"
					class="errorMessage"
					>Password don't match.
				</span>
				<span
					*ngIf="
						!updateProfile.controls['confirmPassword'].hasError('NoPassswordMatch') &&
						updateProfile.controls['password'].hasError('minlength')
					"
					class="errorMessage"
					>Password must have atleast 8 characters.</span
				>
				<mat-card-actions>
					<!-- REGISTER BUTTON -->
					<button mat-raised-button color="primary" (click)="update()" [disabled]="!updateProfile.valid || !changesMade()">Update</button>
				</mat-card-actions>
			</mat-card-content>
		</div>
	</mat-card>
</app-main>
