<app-group-main>
    <mat-card class="groupCard">
        <mat-card-header>
            <mat-card-title>Create Group</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="registerForm" [formGroup]="createGroup" novalidate (keydown.enter)="create()">
                <!-- NAME -->
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="name"
                           matInput type="text"
                           placeholder="Name"
                           name="name"
                           required>
                    <mat-error *ngIf="createGroup.hasError('required', 'name')">Please name your group.</mat-error>
                </mat-form-field>
                <!-- PASSWORD -->
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password"
                           type="password"
                           matInput
                           placeholder="Password"
                           name="Password">
                </mat-form-field>
                <!-- DESCRIPTION -->
                <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description"
                              placeholder="Description"
                              name="description"
                              matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Event</mat-label>
                    <mat-select formControlName="event" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let event of events" [value]="event.id">
                            {{event.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="createGroup.hasError('required', 'event')">Please choose an event</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="token.role === 'admin' || token.role === 'event manager'">
                    <input matInput placeholder="Leader" aria-label="Leader" [matAutocomplete]="auto" [formControl]="leaderCtrl" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.firstName+' '+user.lastName" (onSelectionChange)="setLeaderId(user.id)">
                            <span>{{user.firstName}} {{user.lastName}}</span> |
                            <small>{{user.emailAddress}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <span class="errorMessage">{{errorMessage}}</span>
            <span class="successMessage">{{ successMessage }}</span>
            <mat-card-actions>
                <!-- REGISTER BUTTON -->
                <button mat-raised-button color="primary" (click)="create()" [disabled]="!createGroup.valid">Create</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</app-group-main>
