.groupCard {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-65%);
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 100px;
}

.full-width {
	width: 100%;
}

@media screen and (max-height: 740px), (max-width: 700px) {
	.groupCard {
		top: 0;
		left: 0;
		transform: none;
		width: 80%;
		height: calc(100vh - 120px);
		padding: 0;
		margin: 50px 10% 0 10% !important;
		border: none;
		box-shadow: none;
		background-color: transparent;
		justify-content: start;
	}
	.mat-card-actions {
		margin-bottom: 50px !important;
	}
}
