<app-main>
    <mat-card class="registerCard">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="registerForm" [formGroup]="registerCred">
                <!-- FIRST NAME -->
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input formControlName="firstName" matInput placeholder="First name" name="fname" required>
                </mat-form-field>
                <!-- LAST NAME -->
                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="lastName" matInput placeholder="Last Name" name="lname" required>
                </mat-form-field>
                <!-- EMAIL -->
                <mat-form-field class="full-width">
                    <mat-label
                            *ngIf="!registerCred.hasError('email', 'email') && !registerCred.hasError('required', 'email')">
                        Email
                    </mat-label>
                    <mat-label *ngIf="registerCred.hasError('required', 'email') && ( registerCred.touched)">Email
                        (enter correct email)
                    </mat-label>
                    <!-- <mat-label *ngIf="registerCred.hasError('required', 'email') && ( registerCred.touched)">Email (is required)</mat-label> -->
                    <input formControlName="emailAddress" matInput placeholder="example@example.com" type="email"
                           name="email" required>
                </mat-form-field>
                <!-- PASSWORD -->
                <mat-form-field class="full-width">
                    <mat-label *ngIf="!registerCred.hasError('minlength', 'password')">Password</mat-label>
                    <mat-label *ngIf="registerCred.hasError('minlength', 'password') && ( registerCred.touched)">
                        Password (min. 8 characters)
                    </mat-label>
                    <input formControlName="password" matInput type="password" placeholder="Password" name="password"
                           required>
                </mat-form-field>
                <!-- HARDWARE -->
                <mat-form-field class="full-width">
                    <mat-label>Hardware</mat-label>
                    <input formControlName="hardware" matInput placeholder="Hardware" name="hware" required>
                </mat-form-field>
                <!-- ALLERGIES -->
                <mat-form-field class="full-width">
                    <mat-label>Allergies</mat-label>
                    <input formControlName="allergies" matInput placeholder="Allergies" name="allergies">
                </mat-form-field>
                <!-- SKILLSET -->
                <mat-form-field class="full-width">
                    <mat-label>Skillset</mat-label>
                    <input formControlName="skillSet" matInput placeholder="Skillset: ex.:Programmer" name="skillset">
                </mat-form-field>
                <label>Your diet: *</label>
                <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group" name="diet" formControlName="diet" required>
                    <mat-radio-button class="example-radio-button" *ngFor="let option of optionsEat" [value]="option">
                        {{option}}
                    </mat-radio-button>
                </mat-radio-group>
                <br>
                <!-- AGREEMENT -->
                <mat-checkbox formControlName="sponsorEmailAgreed" name="sponsorEmailAgreed">Agreed to get promotional
                    emails from sponsors.
                </mat-checkbox>
            </form>
            <span class="errorMessage">{{errorMessage}}</span>
            <mat-card-actions>
                <!-- REGISTER BUTTON -->
                <button mat-raised-button color="primary" (click)="register()" [disabled]="!registerCred.valid">
                    REGISTER
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</app-main>
