html,
body {
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica, sans-serif;
	margin: 0;
}

//form error message
span.errorMessage {
	color: red;
	font-size: 14px;
}

span.successMessage {
	color: green;
	font-size: 14px;
}

//register form checkbox
.mat-checkbox-layout {
	.mat-checkbox-inner-container {
		margin-top: 4px;
	}
	span {
		white-space: normal !important;
	}
}

//event container
.eventContainer {
	.mat-card-header-text {
		margin: 0;
	}
}

.loadingSpinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.mat-card-header-text{
	margin: 0 !important;
}